<body style="
    background: #8ac5a2;
"><h1>Eletrify - Mudando o mundo, um veículo por vez!</h1>
<h2>versao atualizada 1.1</h2>
<img src="https://www.portal-energia.com/wp-content/uploadsthumbs/top-carros-eletricos-autonomia-696x355.jpg" style="
    width: 425px;
"></body>